@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
@media only screen and (max-width:600px) {
    html {
        font-size: 12px;
    }
    .form {
        grid-area: 1 / 1 / 2 / 3!important;
    }
    .exp {
        grid-area: 2 / 1 / 3 / 3!important;
    }
    .comp {
        grid-area: 3 / 1 / 4 / 3!important;
    }
    .int {
        grid-area: 4 / 1 / 5 / 3!important;
    }
    .part2 .card {
        width: 90vw!important;
    }
}

@media only screen and (max-width:500px) {
    html {
        font-size: 10px;
    }
    .header-card img:hover {
        width: 80px!important;
    }
    .header-card img {
        width: 80px!important;
    }
}

html {
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    background: linear-gradient(-45deg, #ee7752, #ff00b3, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #23a6d5;
    transition: all .2s ease;
}

a:hover {
    transform: translate(1px, -1px);
}

header {
    height: 99vh;
    margin: 0!important;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    width: 100vw;
}

footer div {
    display: flex;
    flex-direction: column;
    transition: all .2s ease;
}

footer button {
    position: sticky;
    margin: 0 auto;
    border: none;
    background: none;
    font-size: 30px;
    margin: .2em auto;
    opacity: .9;
    transition: all .4s ease;
}

footer span {
    margin: 0 auto;
    opacity: .3;
    cursor: pointer;
}

footer button:hover {
    cursor: pointer;
    transform: translate(0, -2px);
}

footer button:active {
    transform: translate(0px, 0px);
}

.header-card {
    width: 27em;
    border-radius: 20px;
    margin: auto;
    padding: 1em;
    display: flex;
    height: 10em;
    color: rgb(66, 62, 57);
    background-color: #FFF;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.4);
}

.header-card h1 {
    margin: 0 0 .5em;
    overflow: hidden;
}

.header-card h1 span {
    display: block;
    animation: FadeIn 500ms;
}

.header-card img {
    margin: auto;
    border-radius: 10px;
    width: 100px;
    transition: all .5s ease;
}

.header-card img:hover {
    width: 130px;
}

.header-card div {
    margin: auto;
}

.header-card a {
    display: block;
    width: fit-content;
}

.part2 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.form {
    grid-area: 1 / 1 / 3 / 2;
}

.exp {
    grid-area: 1 / 2 / 3 / 3;
}

.comp {
    grid-area: 3 / 1 / 5 / 2;
}

.int {
    grid-area: 3 / 2 / 5 / 3;
}

.part2 .card {
    background-color: #FFF;
    border-radius: 20px;
    width: 45vw;
    height: fit-content;
    margin: auto;
    padding-right: 1em;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.4);
}

.part2 .card h1 {
    margin-left: 0.67em;
}

.part2 .card ul li {
    margin-bottom: 1em;
}

.part2 .card ul {
    margin-bottom: 1.5em;
}

.part2 .card ul li:last-of-type {
    margin-bottom: 0;
}

.lang img {
    width: 2em;
    transition: all .4s ease;
}

.lang img:hover {
    transform: translate(0, -2px);
}

.lang {
    margin: .5em 0 0;
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    background-color: rgb(223, 223, 223);
    padding: .5em;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.4);
}

#part3 {
    height: 100vh;
}

.part {
    margin: 1vh 0 0;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.disabled {
    opacity: .3;
    /*display: none;*/
}

.disabled>*:hover {
    cursor: default;
    transform: unset;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

@keyframes FadeIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}