@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@media only screen and (max-width:900px) {
    html {
        font-size: 15px;
    }
    .header-card {
        text-align: center;
        padding: 1em;
    }
    .header-card img {
        width: 8em!important;
        border-radius: 20px!important;
        animation: FadeInImgTouchDevice 2s!important;
    }
    .header-card {
        flex-direction: column;
    }
    .header-card div {
        margin: auto!important;
    }
    .part2 .card {
        width: 90vw!important;
        margin: 2em auto!important;
    }
    .lang {
        margin-right: 0!important;
    }
}

html {
    overflow: hidden;
}

body {
    margin: 0;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #001f3f;
}

p,
ul {
    color: #003e7e;
}

a {
    text-decoration: none;
    color: #6d99ef;
    transition: transform .2s ease;
}

a:hover {
    transform: translate(1px, -1px);
}

header {
    height: 100vh;
    margin: 0!important;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    transition: all .5s ease-in-out;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    width: 100vw;
}

footer div {
    display: flex;
    flex-direction: column;
    transition: all .2s ease;
}

footer button {
    position: sticky;
    margin: 0 auto;
    border: none;
    background: none;
    font-size: 30px;
    margin: .2em auto;
    opacity: .9;
    transition: all .4s ease;
}

footer span {
    margin: 0 auto;
    opacity: .3;
    cursor: pointer;
}

footer button:hover {
    cursor: pointer;
    transform: translate(0, -2px);
}

footer button:active {
    transform: translate(0px, 0px);
}

.header-card {
    border-radius: 20px;
    margin: auto;
    display: flex;
    color: rgb(66, 62, 57);
    background-color: #FFF;
    box-shadow: 0px 0px 20px -2px rgb(0 0 0 / 40%);
    overflow: hidden;
    animation: pop 1s;
}

.header-card h1 {
    margin: 0 0 .5em;
    overflow: hidden;
}

.header-card h1 span {
    display: block;
    animation: FadeInText 2s;
}

.header-card p span {
    display: block;
    animation: FadeInText 2.2s;
}

.header-card a span {
    display: block;
    animation: FadeInText 2.3s;
}

.header-card p:first-of-type {
    margin-bottom: 0;
}

.header-card p:last-of-type {
    margin-top: 0;
}

.header-card p {
    overflow: hidden;
}

.header-card img {
    margin: auto;
    border-radius: 20px 0 0 20px;
    width: 200px;
    animation: FadeInImg 2.3s;
}

.header-card div {
    margin: auto 3em auto 1.5em;
}

.header-card a {
    display: block;
    overflow: hidden;
    width: fit-content;
}

.part2 {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    transition: all .5s ease-in-out;
    overflow: auto;
}

.part2 .card {
    background-color: #FFF;
    border-radius: 20px;
    width: 45vw;
    height: fit-content;
    margin: auto;
    padding-right: 1em;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.4);
}

.part2 .card h1 {
    margin-left: 0.67em;
}

.part2 .card ul li {
    margin-bottom: 1em;
}

.part2 .card ul {
    margin-bottom: 1.5em;
}

.part2 .card ul li:last-of-type {
    margin-bottom: 0;
}

.lang img {
    width: 2em;
    transition: transform .4s ease;
}

.lang img:hover {
    transform: translate(0, -2px);
}

.lang {
    margin: .5em 0 0;
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    background-color: rgb(223, 223, 223);
    padding: .5em;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.4);
}

#part3 {
    height: 100vh;
}

.disabled {
    opacity: .3;
    /*display: none;*/
}

.disabled>*:hover {
    cursor: default;
    transform: unset;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.top {
    transform: translateY(-100vh);
    opacity: 0;
}

.view {
    transform: translateY(0vh);
    opacity: 1;
}

.bottom {
    transform: translateY(100vh);
    opacity: 0;
}

@keyframes FadeInText {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes FadeInImg {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes FadeInImgTouchDevice {
    0% {
        transform: translateY(-125%);
    }
    50% {
        transform: translateY(-125%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes pop {
    0% {
        transform: scale(0);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
